<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_DIR" value="logs" />

    <appender name="APPLICATION_LOG" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/application.log</file>
        <append>false</append>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="TESTBENCH_LOG" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/testbench.log</file>
        <append>false</append>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="testbench" level="INFO" additivity="false">
        <appender-ref ref="TESTBENCH_LOG"/>
    </logger>

    <root level="WARN">
        <appender-ref ref="APPLICATION_LOG"/>
    </root>

</configuration>